PYTHONPATH=~/dev/ai/ragify/ragify-python

# Server Configuration
PORT=1337

# CORS Configuration (comma-separated)
CORS_ORIGINS=http://localhost:3000

# Database Configuration
DATABASE_URL=postgresql+asyncpg://ragify:ragify@localhost:5432/ragify
POSTGRES_PORT=5432
POSTGRES_USER=ragify
POSTGRES_PASSWORD=ragify
POSTGRES_DB=ragify

# Auth
JWT_SECRET=super-secret-code
JWT_EXPIRES_MINUTES=180

# ragify-rag gRPC server
RAGIFY_GRPC_HOST=0.0.0.0
RAGIFY_GRPC_PORT=50051
RAGIFY_GRPC_ENDPOINT=localhost:50051
