PYTHONPATH=~/dev/ai/ragify/ragify-python

# Server Configuration
PORT=8000

# CORS Configuration (comma-separated)
CORS_ORIGINS=http://localhost:3000

# Database Configuration
DATABASE_URL=postgresql+asyncpg://ragify:ragify@localhost:5432/ragify
POSTGRES_PORT=5432
POSTGRES_USER=ragify
POSTGRES_PASSWORD=ragify
POSTGRES_DB=ragify

# Auth
JWT_SECRET=super-secret-code
JWT_EXPIRES_MINUTES=180

# ragify-rag gRPC server
RAGIFY_GRPC_HOST=0.0.0.0
RAGIFY_GRPC_PORT=50051
RAGIFY_GRPC_ENDPOINT=localhost:50051


# Rate limits
FREE_MONTHLY_CREDITS=50
QUERY_CREDIT_COST=1
UPLOAD_CREDIT_STRIDE_BYTES=5242880 # 5 MB
MAX_WORKSPACES=3
MAX_STORAGE_BYTES=52428800  # 50 MB

RATE_LIMIT_REGISTER=5
RATE_LIMIT_REGISTER_DAY=20

RATE_LIMIT_LOGIN=10
RATE_LIMIT_LOGIN_DAY=50

RATE_LIMIT_API_MIN=120

RATE_LIMIT_QUERY_MIN=10
RATE_LIMIT_QUERY_DAY=200

RATE_LIMIT_UPLOAD_HOUR=10
RATE_LIMIT_UPLOAD_DAY=20

RATE_LIMIT_WORKSPACE_CREATE_HOUR=10
RATE_LIMIT_WORKSPACE_CREATE_DAY=50
